@import "~or-theme";

.example {
  font-family: Helvetica W01,sans-serif;

  .titile {
    font-size: 14px;
    font-family: adobe-garamond-pro,serif;
    margin: 20px 0 10px;
  }
  .text {
    color: #6e6e6e;
  }

  .color-text {
    padding-left: 10px;
    color: #000;
  }

  .or-btn {
    margin-top: 20px;
    margin-bottom: 70px;
    font-size: 10px;

    &:hover {
      background-color: $primary-color;
    }
  }
}

